@{
    Layout = null;
}
@model HRMS.Models.EmpBasicDetails
<p><em><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Date:</span>{DATE}</em></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<h3 style="margin: 0in; margin-bottom: .0001pt;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Name:</span>@Model.FirstName  </h3>
<h3 style="margin: 0in; margin-bottom: .0001pt;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Address:</span>@Model.PresentAddress</h3>

<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">LETTER OF OFFER OF EMPLOYMENT &ndash; <em></em></span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Dear <em>Mr. /Ms. Last name</em>,</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Following our recent discussions, we are delighted to offer you the position of <em>Position Title </em>with <em>Our Organization</em>. <em>Our Organization</em> is <em>describe key highlights about your organization</em>. If you join <em>Our Organization</em>, you will become part of a fast-paced and dedicated team that works together to provide our clients with the highest possible level of service and advice. </span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">As a member of <em>Our Organization</em> team, we would ask for your commitment to deliver outstanding quality and results that exceed client expectations. In addition, we expect your personal accountability in all the products, actions, advice and results that you provide as a representative of <em>Our Organization</em>. In return, we are committed to providing you with every opportunity to learn, grow and stretch to the highest level of your ability and potential.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">We are confident you will find this new opportunity both challenging and rewarding. The following points outline the terms and conditions we are proposing.</span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="text-align: left;"><span style="font-family: 'Georgia','serif';">Title: <em>Position title</em></span></p>
<p style="tab-stops: right 81.0pt;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="margin-left: 1.0in; text-indent: -1.0in; tab-stops: 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Job description: <em>See attached</em></span></p>
<p style="tab-stops: right 81.0pt;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="margin-left: 1.5in; text-indent: -1.5in; tab-stops: 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Start date: <em>Start date</em></span></p>
<p style="margin-left: 1.5in; text-indent: -1.5in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="margin-left: 1.0in; text-indent: -1.0in; tab-stops: 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Salary: <em>Amount per year</em></span></p>
<p style="margin-left: 0in; tab-stops: 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif'; color: black;">&nbsp;</span></p>
<p style="margin-left: 0in; tab-stops: .5in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Probation: <em>Describe your organization&rsquo;s probationary policy</em></span></p>
<p style="margin-left: 0in; tab-stops: right 0in left 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif'; color: black;">&nbsp;</span></p>
<p style="margin-left: 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Group benefits: <em>Succinctly describe your organization&rsquo;s group benefits plan, including when the new employee will be eligible</em></span></p>
<p style="margin-left: 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
<p style="margin-left: 94.5pt; text-indent: -94.5pt; tab-stops: right 0in left 1.25in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Hours of work: <em>Describe the hours of work per week this position requires</em></span></p>
<p style="margin-left: 1.5in; text-indent: -1.5in; tab-stops: right 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="tab-stops: right 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Reporting relationship: <em>Identify the position that this position will report to</em></span></p>
<p style="margin-left: 94.5pt; text-indent: -94.5pt; tab-stops: right 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;</span></p>
<p style="tab-stops: right 0in;"><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">Vacation: <em>Explain your organization&rsquo;s vacation policy including how many days, how they are accumulated etc.</em></span></p>
<p><span style="font-size: 10.0pt; font-family: 'Georgia','serif';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span></p>
<p><span style="font-family: 'Georgia','serif';">Following the initial probationary period, a progression and performance review will be conducted on a quarterly basis to assess performance to-date, and to clarify or modify this arrangement, as the need may arise.</span></p>
<p><span style="font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-family: 'Georgia','serif';">This arrangement may be terminated by either party upon notice in writing to either party with notice that complies with Employment Standards (or Labour Standards) for <em>Your Province</em></span></p>
<p><span style="font-family: 'Georgia','serif';">&nbsp;</span></p>
<p><span style="font-family: 'Georgia','serif';">We look forward to the opportunity to work with you in an atmosphere that is successful and mutually challenging and rewarding.</span></p>
