@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    
}

<div style="color:red!important;position:absolute">sss  sddsf

    s
    df
    sd
    f
    sd
    f
    sd
    fd
    sf
    sd
    f
    s
    f
</div>